<header class="p-3 mb-3 border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none fw-bold">
                DREAM
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 ms-3">
                <li>
                    <a href="{{ path('index') }}" class="nav-link px-2 {% if app.request.attributes.get('_route') == 'index' %}link-primary{% else %}link-secondary{% endif %}">
                        Home
                    </a>
                </li>
                {% if is_user_type('App\\Entity\\Farmer') %}
                <li>
                    <a href="{{ path('forum_index') }}" class="nav-link px-2 {% if app.request.attributes.get('_route') starts with 'forum' %}link-primary{% else %}link-secondary{% endif %}">
                        Forum
                    </a>
                </li>
                {% endif %}
            </ul>

            <div class="dropdown text-end">
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="{{ app.user.avatarUrl }}" width="32" height="32" class="rounded-circle" alt="{{ app.user.fullName }}">
                </a>
                <ul class="dropdown-menu text-small">
                    <li><a class="dropdown-item" href="{{ path('profile') }}">Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{{ path('logout') }}">Sign out</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
