<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{{ path('index') }}">DREAM</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if app.user.farmer %}
                    <li class="nav-item">
                        <a class="nav-link {% if app.request.attributes.get('_route') == 'index' %}active{% endif %}" href="{{ path('index') }}">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if app.request.attributes.get('_route') starts with 'forum' %}active{% endif %}" href="{{ path('forum_index') }}">
                            Forum
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if app.request.attributes.get('_route') starts with 'suggestions' %}active{% endif %}" href="{{ path('suggestions_index') }}">
                            Suggestions
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if app.request.attributes.get('_route') starts with 'my_requests' %}active{% endif %}" href="{{ path('my_requests_index') }}">
                            My Requests
                        </a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link {% if app.request.attributes.get('_route') starts with 'forecasts' %}active{% endif %}" href="{{ path('forecasts_view') }}">
                        Weather Forecasts
                    </a>
                </li>
                {% if app.user.agronomist or (app.user.farmer and app.user.myReplies)%}
                    <li class="nav-item">
                        <a class="nav-link {% if app.request.attributes.get('_route') starts with 'my_replies' %}active{% endif %}" href="{{ path('my_replies_index') }}">
                            My Replies
                        </a>
                    </li>
                {% endif %}
            </ul>
            <div class="dropdown text-end">
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="{{ app.user.avatarUrl }}" width="32" height="32" class="rounded-circle" alt="{{ app.user.fullName }}">
                </a>
                <ul class="dropdown-menu text-small">
                    <li><a class="dropdown-item" href="{{ path('profile') }}">Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{{ path('logout') }}">Sign out</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>