{% extends 'base.html.twig' %}

{% block title %}Suggestions{% endblock %}

{% block toolbar %}
    <a href="{{ path('suggestions_view') }}" class="btn btn-primary">
        <i class="bi bi-plus"></i> Refresh
    </a>
{% endblock %}

{% block content %}
    <table class="table table-hover mt-4">
        <thead>
        <tr>
            <th style="width: 10%">Number</th>
            <th style="width: 10%">Suggestion</th>
            <th style="width: 40%">Reliability</th>
            <th style="width: 30%">Type</th>
        </tr>
        </thead>
        <tbody>
       {% for suggestion in pagination %}
            <tr>
                <td class="align-middle">
                    {{ suggestion.number }}
                </td>
                <td class="align-middle">
                    {{ suggestion.data }}
                </td>
                <td class="align-middle">
                    {{ suggestion.reliability }}%
                </td>
                <td class="align-middle">
                    {{suggestion.type}}
                </td>
            </tr>
        {% endfor %}
        {% if pagination.totalItemCount == 0 %}
            <tr>
                <td colspan="3" class="text-center py-3">
                    There are currently no suggestions.
                </td>
            </tr>
        {% endif %}
        </tbody>
    </table>


    {#
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>#}
{% endblock %}