{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}Suggestions{% endblock %}

{% block content %}
    {% if pagination is null %}
        <p>
            Select if you want a suggestion about what <b>fertilizer</b> to use (and in that case choose which crop you want
            to fertilize) or about the <b>crop</b> to plant (and in that case insert the size of the area to crop).
        </p>
    {% endif %}
    {% if app.user.farm.city %}
        {{ form_start(form) }}
        <div class="row">
            <div class="col-12 col-lg-4">{{ form_row(form.type) }}</div>
            <div class="col-12 col-lg-4" id="suggestion-form-crop-wrap">{{ form_row(form.crop) }}</div>
            <div class="col-12 col-lg-4" id="suggestion-form-area-wrap">{{ form_row(form.area) }}</div>
            <div class="col-12 col-lg-1">
                <div style="margin-top: 2em">
                    {{ form_row(form.search) }}
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    {% else %}
        <div class="alert alert-warning">
            Please enter a farm city in your profile to use suggestions.
        </div>
    {% endif %}
    {% if pagination is not null %}
        <table class="table table-hover mt-4">
            <thead>
            <tr>
                <th style="width: 10%">Number</th>
                <th style="width: 40%">Suggestion</th>
                <th style="width: 20%">Reliability</th>
            </tr>
            </thead>
            <tbody>
            {% for suggestion in pagination %}
                <tr>
                    <td class="align-middle">
                        {{ suggestion.number }}
                    </td>
                    <td class="align-middle">
                        {{ suggestion.data }}
                    </td>
                    <td class="align-middle">
                        {{ suggestion.reliability }}%
                    </td>
                </tr>
            {% endfor %}
            {% if pagination.totalItemCount == 0 %}
                <tr>
                    <td colspan="3" class="text-center py-3">
                        There are currently no suggestions.
                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const suggestionSelect = document.getElementById('suggestions_type');
            const cropWrap = document.getElementById('suggestion-form-crop-wrap');
            const areaWrap = document.getElementById('suggestion-form-area-wrap');

            function updateFormVisibility() {
                const val = suggestionSelect.value
                cropWrap.style.display = val === 'fertilizer' ? 'block' : 'none';
                document.getElementById('suggestions_crop').required = val === 'fertilizer';
                areaWrap.style.display = val === 'crop' ? 'block' : 'none';
                document.getElementById('suggestions_area').required = val === 'crop';
            }

            suggestionSelect.addEventListener('change', () => updateFormVisibility());
            updateFormVisibility();
        })
    </script>
{% endblock %}