{% extends 'base.html.twig' %}

{% block title %}My Replies{% endblock %}

{% block content %}
    <!-- Help request list -->
    <div>
        {{ knp_pagination_render(pagination) }}
    </div>

    <div>
        {% for help_request in pagination %}
            <a href="{{ path('my_replies_index', {help_request : help_request.id}) }}">{{ help_request.title }}</a>
        {% endfor %}
    </div>

    {% if help_request is not null %}
        <!-- Help request details -->
        <div>
            Title : {{ help_request.title }}
            Timestamp : {{ help_request.timestamp | date('Y-m-d H:i:s') }}
            Author : {{ help_request.author.fullname }}
            Text : {{ help_request.text }}
            {% if help_request.reply is not null %}
                Reply : {{ help_request.reply.text }}
                {{ help_request.reply.timestamp | date('Y-m-d H:i:s')}}
                {% if help_request.reply.feedback is not null %}
                    Feedback : {{ help_request.reply.feedback }}
                {% endif %}
            {% endif %}
        </div>

        <!-- Form for inserting reply -->
        {% if help_request.needsReply %}
            {{ form(form) }}
        {% endif %}
    {% else %}
        <div>
            You haven't got any help requests!
        </div>
    {% endif %}
{% endblock %}