{% extends 'base.html.twig' %}

{% block title %}Daily Plan of {{ daily_plan.date | date('Y-m-d')}} {% endblock %}

{% block content %}
    <p class="fs-5">
        State: {{ daily_plan.state }}
    </p>
    {% if error_msg is not null %}
        <p class="text-danger">
            {{ error_msg }}
        </p>
    {% endif %}
    <table class="table table-bordered border-dark">
        <thead>
            <tr>
                <th>Start Time</th>
                <th>Farm</th>
                {% if forms_move_visits is not null or forms_remove_visits is not null %}
                <th colspan="2" style="width: 50%">Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for farmVisit in daily_plan.farmVisits %}
                <tr>
                    <td>{{ farmVisit.startTime | date('H:i') }}</td>
                    <td>
                        <div>
                            <strong class="d-block">{{ farmVisit.farm.farmer.fullName }}</strong>
                            {{ farmVisit.farm.street ? (farmVisit.farm.street ~ ', ') : '' }}{{ farmVisit.farm.city }}
                        </div>
                        <a href="{{ path('daily_plan_farm_details', {daily_plan: daily_plan.id, farm: farmVisit.farm.id}) }}"
                           class="btn btn-sm btn-outline-primary mt-2">View Farm Details</a>
                    </td>
                    {% if forms_move_visits is not null %}
                        <td>
                            {{ form_start(forms_move_visits[(farmVisit.id)]) }}
                            <div class="d-flex align-items-center">
                                <div>
                                    {{ form_widget(forms_move_visits[(farmVisit.id)].newStartHour) }}
                                </div>
                                <div class="ms-2">
                                    {{ form_widget(forms_move_visits[(farmVisit.id)].send) }}
                                </div>
                            </div>
                            {{ form_end(forms_move_visits[(farmVisit.id)]) }}
                        </td>
                    {% endif %}
                    {% if forms_remove_visits is not null %}
                        <td>
                            {{ form_start(forms_remove_visits[(farmVisit.id)]) }}
                            {{ form_widget(forms_remove_visits[(farmVisit.id)].send) }}
                            {{ form_end(forms_remove_visits[(farmVisit.id)]) }}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if form_add_visit is not null %}
        <div class="mt-4">
            <h5>Add new visit</h5>
            {{ form(form_add_visit) }}
        </div>
    {% endif %}
    {% if form_accept_daily_plan is not null %}
        {{ form(form_accept_daily_plan)  }}
    {% endif %}
    {% if form_confirm_daily_plan is not null %}
        {{ form(form_confirm_daily_plan)  }}
    {% endif %}
{% endblock %}