{% extends 'base.html.twig' %}

{% block title %}Daily Plan of {{ daily_plan.date | date('Y-m-d')}} {% endblock %}

{% block content %}
    <p>
        State : {{ daily_plan.state }}
    </p>
    {% if error_msg is not null %}
        <p class="text-danger">
            {{ error_msg }}
        </p>
    {% endif %}
    <table class="table table-bordered border-dark">
        <thead>
            <tr>
                <th>Start Time</th>
                <th>Farm Address</th>
                <th>Farmer</th>
            </tr>
        </thead>
        <tbody>
            {% for farmVisit in daily_plan.farmVisits %}
                <tr>
                    <td>{{ farmVisit.startTime | date('H:i') }}</td>
                    <td>{{ farmVisit.farm.city}}, {{ farmVisit.farm.street }}</td>
                    <td>{{ farmVisit.farm.farmer.fullName }}</td>
                    <td><a href={{ path('daily_plan_farm_details', {daily_plan: daily_plan.id, farm: farmVisit.farm.id}) }}>FarmDetails</a></td>
                    {% if forms_move_visits is not null %}
                        <td>{{ form(forms_move_visits[(farmVisit.id)]) }}</td>
                    {% endif %}
                    {% if forms_remove_visits is not null %}
                        <td>{{ form(forms_remove_visits[(farmVisit.id)]) }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if form_add_visit is not null %}
        {{ form(form_add_visit) }}
    {% endif %}
    {% if form_accept_daily_plan is not null %}
        {{ form(form_accept_daily_plan)  }}
    {% endif %}
    {% if form_confirm_daily_plan is not null %}
        {{ form(form_confirm_daily_plan)  }}
    {% endif %}
{% endblock %}