{% extends 'base.html.twig' %}

{% block title %}My Requests{% endblock %}

{% block content %}
    <!-- Help request list -->
    <div>
        {{ knp_pagination_render(pagination) }}
    </div>

    <div>
        {% for help_request in pagination %}
            <a href="{{ path('my_requests_index', {help_request : help_request.id}) }}">{{ help_request.title }}</a>
        {% endfor %}
    </div>

    {% if help_request is not null %}
        <!-- Help request details -->
        <div>
            Title : {{ help_request.title }}
            Timestamp : {{ help_request.timestamp | date('Y-m-d H:i:s') }}
            Receiver : {{ help_request.receiver.fullname }}
            Text : {{ help_request.text }}
            {% if help_request.reply is not null %}
                Reply : {{ help_request.reply }}
            {% endif %}
        </div>

        <!-- Form for inserting feedback -->
        {% if help_request.reply is not null  and help_request.needsFeedback%}
            {{ form(form) }}
        {% endif %}
    {% else %}
        <div>
            You haven't got any help requests!
        </div>
    {% endif %}



    <a href = "{{ path('my_requests_select_expert_type') }}">New Request</a>
{% endblock %}